body {
    background-color: #303d44;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    border: none;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s; /* for browser support*/
    -moz-transition: background-color 0.5s; /* for browser support*/
}

.container {
    max-width: 40%;
    margin: 30px auto;
}

.heading {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px;
    font-weight: bolder;
    margin: 0% 5%;
}

.title {
    font-size: 1.7rem;
}

.theme-toggle {
    float: right;
    padding: 10px 15px;
}

.heading h2 {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center; 
}

.color-display {
    font-size: 2rem;
    font-weight: 600;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    margin: 2% 10%;
}

#nav {
    height: 45px;
    text-align: center;
    width: 80%;
    margin: 0 10%;    
}

button {
    font-family: 'Nunito', sans-serif;
    border: none;
    padding: 0px 15px;
    border-radius: 7px;
    background-color: tomato;
    height: 100%;
    color: white;
    font-size: 17px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; /* for browser support*/
    -moz-transition: all 0.2s; /* for browser support*/
    outline: none; /* for browser support*/
}



button:hover, button:active, button:focus {
    color: tomato;
    background-color: whitesmoke;
    border: 1px solid tomato;
}

#messageDisplay {
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    font-weight: 400;
    font-size: 18px;
}

.selected {
    background-color: whitesmoke;
    color: tomato;
    border: 1px solid tomato;
}

.selected:active, .selected:hover {
    background-color: tomato;
    color: whitesmoke;
}



@media only screen and (max-width: 767px) {
    .container {
        max-width: 90%;
        margin: 30px auto;
    }

    #nav {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 38px;
    }

    #messageDisplay {
        width: 30%;
        font-size: 14px;
        font-weight: 400;
    }

    #color-display {
        font-size: 1.6rem;
        margin-top: 20%;
    }

    button {
        font-size: 14px;
        padding: 0px 9px;
    }

    .theme-toggle {
        font-size: 14px;
        padding: 7px 7px;
    }

    .title {
        font-size: 1.3rem;
    }
}